.flex-container{
    display:flex;
    flex-wrap:wrap;
    width:150px;
}

.flex-item{
    flex: 1;
    width:100%;
}

#result{
    width:150px;
}

button{
    width:37.5px;
}

.equals {
    width: 100%;
}